.idea/
OBJS/
fort.*
*.log
*.dat
!python/pysimple/data/*.dat
*.out
*~
*.nc
*.nc.*
*.x
*.png
*.o
*.mod
RUN/PICS
*.sublime-*
RUN/
*.pdf
\#*
*.so
*.dylib
BUILD
build
Build
Debug
Release
Fast
_*.c
*.pyc
__pycache__/
python/launch*
.DS_Store
RUN_*
*.[0-9]*.[0-9]*.[0-9]*
TMP
*/test_data/simple_*/
test/test_data/
!test/test_data/.gitkeep
*.geany
examples/test1/
examples/test2/
Testing/
*.swp
SRC/libneo
.geany
tests/times_lost_*
*/tests/simple.in
*/tests/wout*
*/tests/start.dat
dcon*.txt
log.*
mercier.*
parvmecinfo.txt
threed1.*
threed1.*
timings.txt
.aider*
thirdparty/gvec
thirdparty/pyplot_module.F90

*.html
.claude
docs/_build/
