.idea/
OBJS/
fort.*
*.log
*.dat
*.out
*~
*.nc
*.nc.*
*.x
*.png
*.o
*.mod
RUN/PICS
*.sublime-*
RUN/
*.pdf
\#*
*.so
*.dylib
BUILD
build
Build
Debug
Release
Fast
_*.c
*.pyc
python/launch*
.DS_Store
RUN_*
*.[0-9]*.[0-9]*.[0-9]*
TMP
*/test_data/simple_*/
